.App-CenterText {
  text-align: center;
}

.App-link {
  color: #09d3ac;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

.App-Title{  
  color:  #04F1B8;
  font-family: Quicksand;
  font-style: normal;
  font-size: 35px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
}