.centerText{
  padding: 10px;
	text-align: center;
  color: black;
}

.sideBar {
  position: relative; 
  bottom: 0px;
  right: 0px;
  height: 92.4vh;
  width: 40vw;
  vertical-align: bottom;
  background-color: #A24208;
  overflow: hidden;
}

.bottomBar {
  position: relative; 
  bottom: -44.3vh;
  height: 48vh;
  width: 100%;
  vertical-align: bottom;
  background-color: #A24208;
  overflow: hidden;
}

.container {
  position: absolute;
  padding: 10px 10px;
}

body {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.36) 8.19%, #ffe1a6 60.07%,#fffc5489);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;  
}

.contentHolder {
  margin: 2em 0;
  background: #F5F5DC;
  padding: 2em;
  box-Shadow:5px -8px #00000059;
  border: 0.5em solid #F5F5DC89;
  border-Radius:25px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chInnerBorder {
  border:0.5em ridge #CFDF9C;
  padding:33px;
  border-Radius:25px;
}

